body{
    display: flex;
    background-color: rgb(17, 17, 17);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.content-holder{
    border: 2px solid black;
    border-radius: 5px;
    width: 45%;
    min-width: 400px;
    max-width: 600px;
    margin: 5px;
    padding: 1px 10px;
    background-color: rgb(19, 19, 19);
}
.currency-inputs{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.currency-input{
    height: 25px;
    width: 300px;
    border: 0px;
}
.button{
    background-color: rgb(37, 37, 37);
    border: 0px;
    color: white;
    height: 25px;
    width: 304px;
}
.button:hover{
    background-color: rgb(68, 119, 68);
}

#history-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
#history-list li{
    background-color: rgb(37, 37, 37);
    text-align: center;
    width: 75%;
    border: 1px solid black;
    margin: 2px;
    padding: 5px;
}
#players{
    display: flex;
    flex-wrap: wrap;
}

.player-card{
    border-radius: 5px;
    margin: 2px;
    padding: 5px 10px;
    max-width: 200px;
    background-color: rgb(30, 30, 30);
}
.input{
    width: 70px;
    background-color: rgb(35, 35, 35);
    color: white;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
.input:hover{
    background-color: rgb(68, 119, 68);
}
.input:focus{
    background-color: rgb(43, 69, 43);
    color: rgb(170, 215, 66);
}

.p-currency-input{
    width: 30px;
    background-color: rgb(35, 35, 35);
    color: white;
    border: 0px;
    margin: 0px;
    padding: 0px;
}